extends ../template/admin_temp

block addcss
	style.
		th {
			text-align: center !important;
		}
		table, td {
			border: 1px solid gray;
			border-collapse: collapse;
		}
		.text-left {
			text-align: left;
			padding-left: 5px;
			padding-right: 5px;
		}

block addLogin
block addContent
	h1= title || "Danh sách key đăng ký"
	.div-setting
		.div-btn-right
			input(type="text", placeholder="Nội dung tìm kiếm ...")
			button Tìm kiếm
			button Cài đặt
		.group-setting(style="display:none;")
			p Set chi đây
	table.table.table-hover.table-bordered(style="text-align:center;")
		tr
			th(style="width:50px") No.
			th MAC
			th(style="width:50px") State
			th(style="width:100px") Date
			th Member
			th Phone
			th Email
			th Action
		- each key in data
			tr
				td #{ key.Id }
				td.text-left #{ key.MacKey }
				td #{ key.State }
				td #{ key.DateBlock }
				td.text-left #{ key.NameUser }
				td.text-left #{ key.Phone }
				td.text-left #{ key.Email }
				td
					span.glyphicon.glyphicon-off
					span.glyphicon.glyphicon-time
					span.glyphicon.glyphicon-trash
	ul.pager
			li.previous: a(href="#") &larr; Older
			li.next: a(href="#") Newer &rarr;
		